<h1 class="sub">Editar grupo de diplomados</h1>

<%= render 'form', grupos_diplomado: @grupos_diplomado %>

<%= link_to 'Mostrar', @grupos_diplomado %> |
<%= link_to 'Regresar', grupos_diplomados_path %>
