<h1 class="sub">Historiales acad&eacute;micos</h1>
<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Historiales</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.nombre_upcase %>
    </td>
    <td>
      <%#= link_to 'Ver historial de Inglés', historial_ingles_users_path(user) %>
      <%= link_to "Ver historial de Inglés", historial_academico_ingles_users_path(user, format: :pdf) %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @users, theme: 'twitter-bootstrap-3', param_name: :pagina %>
