<h1>Editing Fr Inscripcion Registro</h1>

<%= render 'form', fr_inscripcion_registro: @fr_inscripcion_registro %>

<%= link_to 'Show', @fr_inscripcion_registro %> |
<%= link_to 'Back', fr_inscripcion_registros_path %>
