<div class="row">
  <div class="jumbotron">
    <center>
      <%= link_to 'Descargar credenciales', imprimir_credenciales_unitarios_path(format: :pdf), class:'btn btn-primary btn-lg' %>
      <br>
      <br>
      <h4><strong>Las credenciales que van a imprimirse incluyen unicamente a los registros que han sido validados y que se les ha asignado grupo.</strong></h4>
      <br>
    </center>
  </div>
</div>
