<h2 class="sub">Las siguientes credenciales se van a crear:</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <th>Nombre</td>
      <th>Paterno</th>
      <th>Materno</th>
      <th>A&ntilde;o</th>
      <% @unitarios.each do |unitario| %>
      <tr>
        <td><%= unitario.nombre %></td>
        <td><%= unitario.paterno %></td>
        <td><%= unitario.materno %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%= link_to "Descargar credenciales", imprimir_credenciales_unitarios_path(@unitarios, format: :pdf), class:'btn btn-primary btn-lg' %>
