<div class="row">
  <div class="jumbotron">
    <center>
      <%= link_to 'Descargar hoja de cálculo: validados', reporte_dems_unitarios_path(format: :xlsx), class:'btn btn-primary btn-lg' %>
      <br>
      <br>
      <h4><strong>Este reporte incluye únicamente la información que ha sido <u>validada</u> de los registros de los cursos de preparación para los
      niveles <u>medio superior</u> y <u>superior</u>.</strong></h4>
      <br>
    </center>
  </div>
</div>

<div class="row">
  <div class="jumbotron">
    <center>
      <%= link_to 'Descargar hoja de cálculo: no validados', reporte_no_validados_unitarios_path(format: :xlsx), class:'btn btn-danger btn-lg' %>
      <br>
      <br>
      <h4><strong>Este reporte incluye únicamente la información que <u>no ha sido validada</u> de los registros de los cursos de preparación para los
      niveles <u>medio superior</u> y <u>superior</u>.</strong></h4>
      <br>
    </center>
  </div>
</div>
