<div class="row">
  <div class="jumbotron">
    <center>
      <%= link_to "Descargar carta compromiso", carta_compromiso_unitarios_path(@unitario, format: :pdf), class:'btn btn-primary btn-lg' %>
      <br>
      <br>
      <h4><strong>En caso de extravío podrá recuperar su carta compromiso a través de su CURP</strong></h4>
      <br>
      <strong><%= link_to "Salir", new_unitario_path %></strong>
    </center>
  </div>
</div>
