<h1 class="sub">Editar inscripción a diplomado</h1>

<%= render 'form', inscripcion_diplomado: @inscripcion_diplomado %>

<%= link_to 'Mostrar', @inscripcion_diplomado %> |
<%= link_to 'Regresar', inscripcion_diplomados_path %>
