<% if user_signed_in? && current_user.centro.nombre == 'Ingeniero Eugenio Méndez Docurro' %>
  <div>
                  <%= image_tag "cec.jpg", style:"float: right; margin: 0px 15px 15px 0px;" %>
                  <p><span class="sepi"><strong>Centro de <br>Educaci&oacute;n<br> Continua</strong></span><br>
                  <strong>Ing. Eugenio M&eacute;ndez Docurro</strong></p>
  </div>
<% else %>
  <div>
                  <!--<p><span class="sepi"><strong>Centro de Educaci&oacute;n Continua</strong></span><br>
                  <strong>Ing. Eugenio M&eacute;ndez Docurro</strong></p>-->
  </div>
  <%= image_tag "dec.png" %>
  <% end %>
